header {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	position: fixed;
	margin: 0;
	background-color: rgb(246, 244, 130);
	/* background: url("../resources/halftone-yellow.png"); */
	color: rgb(48, 48, 48);

	height: 60px;

	z-index: 100;

	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
header,.header {
	font-weight: bold;



	vertical-align: middle;
	line-height: 60px;

	font-size: 30px;
	margin: 0;

	padding-top: 0;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 5px;
	display: inline;
}
.standardHeader:hover .icon-bar {
	display:block;
}
.icon-bar:hover .icon-bar {
	display:block;
}

.search {
	vertical-align: middle;
	line-height: 60px;
	padding: 0;
	font-size: 20px;
	height: 30px;
	margin-right: 15px;
	margin-top: 10px;
	padding: 5px;

}
