.homepanel {
	width: 800px;
	height: 100%;
	/* height: 400px; */
	background-color: rgb(254, 252, 252);
	padding: 20px;
	display: inline-block;

	position: relative;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	/* left: 0;
	right: 0;
	margin: 0 auto;
	*/
	margin-left: 50px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.sidepanel {
	position: relative;
	float: right;
	width: calc(100% - 930px);
	margin-right: 20px;
	/* background-color: rgb(210, 228, 219); */
	height: 100%;
	display: block;
}
.homesidepanel {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	position: relative;
	/* display: inline-block; */
	float: right;
	background-color: rgb(254, 252, 252);
	padding: 20px;

	margin-bottom: 20px;
	margin-right: 20px;
	
	cursor: pointer;

	/* width: 200px; */
}
.panelTitle {
	font-size: 1.2em;
	display:block;
	color: rgba(0, 0, 0, 0.6);
}
.panelContents {
	font-size: 2em;
}

.mastersearch {
	padding: 1em;
	margin-top: 20px;
	font-style: 2em;
	width: calc(100% - 40px);
}
.cardSearchItem {
	background-color: rgb(233, 236, 218);
	border-radius: 4px;
	/* width: 100%; */
	display:inline-block;
	color: rgb(29, 29, 28);
	font-size: 1em;

	margin: 6px;
	padding: 12px;
	box-sizing: border-box;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.home {
	padding: 0;
	padding-top: 100px;
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	position:fixed; /*

	/* display: block; */

	/* overflow-y: visible; */

	/* background-color: rgb(244, 239, 239); */
	/* background: url(../resources/rnapolymerase.jpg) no-repeat center center fixed; */
	background: url('../resources/diamond_upholstery.png') center center fixed;

	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}
.quote {
	background-color: rgb(255, 255, 255);
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
	display: inline-block;
	/* margin-left: 30px; */
	margin-top: 5px;
	padding: 10px;
}
.homepanel>h1 {
	margin-bottom: 0.1em;
}

.homebutton {
	width: 100px;
	height: 130px;
	display: inline-block;
	vertical-align: top;
	position: relative;

	box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
	text-align: center;
	padding: 15px;
	margin: 10px;
	background-color: rgb(244, 243, 236);
	border-bottom: rgb(246, 244, 130) 15px solid;
	cursor: pointer;

	box-sizing: border-box;

	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Icons */
.homebutton .fa{
	font-size: 2.4em;
	text-align: center;
	display: block;
	position: relative;
	vertical-align: top;
	position: absolute;

	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 10px;
	color: rgba(27, 26, 26, 0.9);
}

.right {
	align: right;
}

.homebutton:hover {
	/* border-bottom: rgb(233, 231, 90) 80px solid; */
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
