.right {
	float:right;
}

/*
input {
  display: none;
  visibility: hidden;
}
label {
}
label:hover {
}
#expand {
display:none;

  width: 0;

  margin: 1em;
  padding: 1em;
  overflow: hidden;
  transition: width 0.2s;
}
.toggle:checked ~ #expand {
  width: 250px;

  display:block;
}
.toggle:checked ~ label::before {
}
*/
