.right {
	float:right;
}
input[type="checkbox"] {
	display: none;
	visibility: hidden;
}
#expand {
	display:none;
	transition: width 0.2s;

	background: rgb(217, 226, 209);
	/* display: inline-block; */
	margin: .7rem;
}
#front {
	/* display:none; */
}
.toggle:checked ~ #expand {
	display:inline-block;
}
.toggle:checked ~ #front {
	display:none;
}
a {
	color: black;
	text-decoration:none;
}
.wide {
	width: 100%;
}
.ng-cloak { display:none; }
