.editbtn {
	cursor:pointer;
}

/* The full view */
.studysheetspanel {
	display: inline-block;
	width: calc(100% - 400px);
	padding-top: 90px;
	margin-left: 350px;
	max-width: 900px;
}
.studysheet {
	max-width: 100%;
	width: 100%;
}

.studysheetimg {
	width: 900px;
	max-width: 80%;
	max-width: 80%;
	min-width: 30%;
}

.addelementbtn {
	min-width: 200px;

	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 20px;
	cursor: pointer;

	vertical-align: top;

	background-color: rgb(252, 252, 252);

	box-sizing: border-box;
	display: inline-block;

	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.resize-drag {
	border: 3px solid rgba(247, 231, 75,.7);
	background-color: rgba(247, 231, 75, 0.3);
	color: rgb(29, 29, 29);
	border-radius: 2px;
	padding: 20px;
	margin: 30px 20px;

	width: 120px;

	box-sizing: border-box;

	position: absolute;
	display: block;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.resize-container {
	display: inline-block;

}
