/* Includes styles for the background, cards, and anything related to the general panning area. */
body {
	background-color: rgb(228, 227, 194);
}
#workbench {
	width: 100%;
	height: 100%;
	min-height: 100%;
	/* padding-left: 40px; */

	background-color: rgb(228, 227, 194);
	background-repeat: repeat;
	padding-top: 100px;
}

.card {
	background: rgb(217, 226, 209);
	display: inline-block;
	vertical-align: top;
	margin: .7rem;
	/* margin-bottom: 100px; */
	max-height: 300px;
	height: 300px;
}
.card, .cardimg {
	position:relative;
	max-height: 300px;
	padding: 0;
	width: 480px;
}
.cardNotes {
	overflow-y:auto;
	/* max-height: auto; */
	position:absolute;
	max-height: 180px;
	width:calc(100% - 25px);
	height: 100%;
}
.tag {
	background-color: rgb(218, 215, 135);
	padding: 6px;
	margin: 3px;
	display: inline-block;
	border-radius: 4px;
	font-size: .8em;
}

.cardDescription {
	white-space: pre-line;
}

#newCard {
	margin-right: 20px;
	cursor: pointer;
}

#newCardSection {
	position: fixed;
	top: 100px;
	right: 20px;
	z-index: 50;
	background-color: rgb(245, 237, 237);
	padding: 30px;
}

.card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
