<div ng-app="cards" id="newCardSection" ng-show="newCardDialogOpen">
	<h2>New Card</h2>
	<form class="pure-form">

		<input placeholder="Title" name="title" type="text" ng-model="newcard.title"><br>
		<input placeholder="Tags" name="tags" type="text" ng-model="newcard.tags"><br>
		​<textarea placeholder="Description" style="width:calc(100% - 10px)" rows="1" cols="10" ng-model="newcard.description"></textarea><br>

		<input type="file" name="file" accept="image/*" fileread="newcard.file" class="pure-button"><br>
		<br>
		<button type="submit" ng-click="newCard()" class="pure-button pure-button-primary">Add Card</button>
		<button ng-click="cancelCard()" class="pure-button">Cancel</button>
	</form>
</div>

<section id="workbench">
	<div class="card" ng-repeat="card in (filteredCards = (cards | filter:searchFilter))">
		<input id="{{::$id}} toggle" class="toggle" type="checkbox">
		<label ng-hide="card.beingEdited" class="toggleBtn" for="{{::$id}} toggle" class="toggle"></label>

		<div id="front">
			<picture>
				<source class="cardimg" ng-srcset="{{('compressedwebp/'+card.img.split('.')[0]+'.webp') | encodeURIComponent}}" type='image/webp'>
				<source class="cardimg" ng-srcset="{{encodeURI('compressedjpg/'+card.img.split('.')[0]+'.jpg')}}" type='image/jpeg'>
				<img class="cardimg" ng-src="compressedjpg/{{card.img}}" alt="">
				<!-- <img class="cardimg" src="cards/{{card.img}}" alt=""> -->
			</picture>
		</div>
		<div id="expand">
			<h3 ng-hide="card.beingEdited">{{card.title}}</h3>
			<span ng-hide="card.beingEdited" class="cardId">ID: #{{card.id}}</span>
			<h3 ng-show="card.beingEdited"><input type="text" name="" class="wide" ng-model="card.edits.title"></h3>

			<div>
				<button type="button" class="pure-button" ng-click="edit(card)" ng-hide="card.beingEdited"><i class="fas fa-edit"></i> Edit</button>

				<button type="button" class="pure-button" ng-click="saveEdits(card)" ng-show="card.beingEdited"><i class="fas fa-check"></i> Save edits</button>
				<button type="button" class="pure-button" ng-click="cancelEdits(card)" ng-show="card.beingEdited"><i class="fas fa-times"></i> Cancel edits</button>
				<button type="button" class="pure-button" ng-click="delete(card)" ng-show="card.beingEdited"><i class="fas fa-trash"></i> Delete</button>
			</div>
			<div class="cardNotes">
				<div ng-repeat="tag in card.tags" class="tag" ng-hide="card.beingEdited">
					<span>{{tag}}</span>
				</div><br>
				<span ng-show="card.beingEdited">​<textarea placeholder="Card tags" style="width:calc(100% - 10px)" rows="1" cols="10" ng-model="card.edits.tags"></textarea><br></span>
				<span ng-show="card.beingEdited">​<textarea placeholder="Description and notes regarding card" style="width:calc(100% - 10px)" rows="5" ng-model="card.edits.description"></textarea><br></span>

				<div class="cardDescription" ng-hide="card.beingEdited">
					{{card.description || "Notes and comments. (None added to this card yet)." }}
				</div>


			</div>
		</div>
	</div>
</section>
