<div class="home">
	<div class="homepanel">
		<h3>Happy studying</h3><br>
		<button ng-click="logout()">Logout</button> {{user.email}}<br>
		<p class="quote">
			"{{quotes[quoteIndex].quote}}"<br>
			<i>{{quotes[quoteIndex].author}}</i>
		</p>

		<div class="homebuttons">
			<a class="homebutton" ui-sref="test">Test <i class="fa fa-lightbulb"></i></a>
			<a class="homebutton" ui-sref="glossary">Glossary <i class="fa fa-book"></i></a>
			<a class="homebutton" ui-sref="cards">Cards <i class="fa fa-list-alt"></i></a>
			<a class="homebutton" ui-sref="studysheets">Study Sheets <i class="fa fa-file-alt"></i></a>
			<a class="homebutton" ui-sref="improve">Improve <i class="fa fas fa-chart-line"></i></a>
			<a class="homebutton" ui-sref="listen">Listen <i class="fa fa-file-video"></i></a>
		</div>
		<input placeholder="Search" class="mastersearch" name="search" type="text" ng-model="search"><br>
		<div class="">
			<div class="cardSearchItem" ng-repeat="card in databaseItems.cards | filter:searchFilter | limitTo:10 ">
				<span ng-click="openCard(card)">{{card.title}}</span>
			</div>
		</div>
	</div>
	<div class="sidepanel">
		<div class="homesidepanel">
				<span class="panelTitle">Random Glossary Term</span>
				<span class="panelContents">{{databaseItems.glossary[glossaryIndex].term}}</span>
				<!-- <span class="answer">{{databaseItems.glossary[glossaryIndex].definition}}</span> -->
		</div>
		<div class="">
			<div class="homesidepanel" ui-sref="cards">
				<span class="panelTitle">Cards</span>
				<span class="panelContents">{{databaseItems.cards.length}}</span>
			</div>
			<div class="homesidepanel" ui-sref="studysheets">
				<span class="panelTitle">Study Pages</span>
				<span class="panelContents">{{databaseItems.studysheets.length}}</span>
			</div>
			<div class="homesidepanel" ui-sref="glossary">
				<span class="panelTitle">Glossary Terms</span>
				<span class="panelContents">{{databaseItems.glossary.length}}</span>
			</div>

		</div>

	</div>
</div>
