<div class="home">
	<div class="homepanel">
		<h1>Biology Study</h1><br>


		<div class="homebuttons">
			<a class="homebutton" href="#/test">Test <i class="fa fa-lightbulb"></i></a>
			<a class="homebutton" href="#/glossary">Glossary <i class="fa fa-book"></i></a>
			<a class="homebutton" href="#/cards">Cards <i class="fa fa-list-alt"></i></a>
			<a class="homebutton" href="#/studysheets">Study Sheets <i class="fa fa-file-alt"></i></a>
			<a class="homebutton" href="#/sacs">Past SACs <i class="fa fa-vial"></i></a>
			<a class="homebutton" href="#/listen">Listen <i class="fa fa-file-video"></i></a>
		</div>
		<input placeholder="Search" class="mastersearch" name="search" type="text" ng-model="search"><br>
	</div>
</div>
