    <section class="topSection">
      <div class="panel">
		  <img src="resources/logoT.png">
	<!--	<h1>Organise your notes digitally.</h1>
	-->  <p>Store and search notes, cards, definitions and more.</p>
      
		<a target="_self" href="#signup" class="pure-button pure-button-primary">Signup</a>
		<a target="_self" href="#login" class="pure-button">Login</a>
	  </div>
    </section>
    <section>
      <div class="panel">
		<div class="left half">
			<div class="right maxwidth">
				<img src="resources/exampleCard.png">
			</div>
		</div>
		  <div class="right half">
			<div class="left maxwidth">
			 <h4>Noterist is a tool that stores images of your notes, so you can access them anywhere.</h4>
        <p>
          Use your phone to snap a photo of your notes, give it a quick tag and description. Now, on any device, a simple search on noterist will show those notes, wherever you are.
          <ul>
            <li>Don't leave revision to the night before exams, with a continous improvement system that tracks your progress.</li>
            <li>Make sure you study the right stuff by using the study design in an effective manner.</li>
            <li>Create study documents with embedded videos and text formatting.</li>
          </ul>
        </p>
		</div>
		</div>
      </div>
    	<div style="clear: both">
	</section>
	<section class="panel" id="panel1">
		<div class="left half">
			<div class="right maxwidth">
				<h4>Rapidly review notes with friends</h4>
				<div>Tag study images with their area of study, topic, and contents.
					Search and rapidly find notes of an area of study, topic, and or contents.
					Spend less time looking for notes and more time studying them.
				</div>
			</div>
		</div>
		<div class="right half">
			<img src="resources/details.png">
			
		</div>
    	<div style="clear: both">
	</section>

	<section class="panel" id="panel2">
		<div class="left half">
			<div class="right maxwidth">
				<h4>Share notes with friends</h4>
				<div>Share your study notes with others by marking them as public. 
					Find notes from others to assist your study.
				</div>
			</div>
		</div>
		<div class="left half">
			<div class="right maxwidth">
			</div>
		</div>

				<img class="wideImage" src="resources/manyCards.jpg">
    	<div style="clear: both">
	</section>
	<section class="panel" id="panelAuth">
		<div class="left half">
			<div class="right maxwidth">
				<h4>Sign up</h4>
			  <form class="registerInterest pure-form pure-form-stacked">
				<fieldset id="signup">
					<span class='signup'>Sign up</span>
	
					<input id="email" type="email" ng-model="signupUser.email" placeholder="Email">
					<!-- <span class="pure-form-message">This is a required field.</span> -->
					<input id="password" type="password" ng-model="signupUser.password" placeholder="Password">

					<button class="pure-button pure-button-primary" ng-click="signup()">Sign up</button>
				</fieldset>
			  </form>
			</div>
		</div>
	<div class="right half">
		<h4>Login</h4>
	      <form id="login" class="registerInterest pure-form pure-form-stacked">
    	    <fieldset>
        	    <span class='signup'>Login</span>

            	<input id="email" type="email" placeholder="Email" ng-model="loginUser.email">
        	    <!-- <span class="pure-form-message">This is a required field.</span> -->

            	<input id="password" type="password" placeholder="Password" ng-model="loginUser.password">

         	   <button ng-click="signin()" class="pure-button pure-button-primary">Sign in</button>
        	</fieldset>
    	  </form>
		</div>
    	<div style="clear: both">
	</section>
