<div class="treenavigator" ng-cloak>

	<button ng-click="expandAll()">Expand all</button>
	<button ng-click="collapseAll()">Collapse all</button>
	<script type="text/ng-template" id="nodes_renderer.html">
		<div class="treenode" ng-class="{'tree-node-active' : activeNode.id==node.id}" ng-click="open(node,this)">
			<a ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
				<span
				class="fa"
				ng-class="{
					'fa-chevron-right': collapsed,
					'fa-chevron-down': !collapsed
				}"></span>
			</a>
			<label>{{node.title}}</label>

			<!-- Drag element -->
			<span class="treebutton right fa fa-arrows-alt" ui-tree-handle></span>

			<!-- Remove/add buttons -->
			<span class="treebutton right" data-nodrag ng-click="removeNodeAndDoc(this); remove(this); $event.stopPropagation()">
				<span class="fa fa-times"></span>
			</span>

			<span class="treebutton right" ng-show="this.depth() < 5" data-nodrag ng-click="newSubItem(this); $event.stopPropagation()">
				<span class="fa fa-plus"></span>
			</span>
		</div>

		<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
			<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
			</li>
		</ol>
	</script>

	<div ui-tree="treeOptions">
		<ol ui-tree-nodes="" ng-model="hierarchy" id="tree-root" data-max-depth="4">
			<li ng-repeat="node in hierarchy" ui-tree-node ng-include="'nodes_renderer.html'"></li>
		</ol>
	</div>

</div>
<section class="studysheetspanel">

	<div>
		<h1>
			<span ng-hide="editingDoc">{{studydoc.title || ''}}</span>
			<span ng-show="editingDoc"><input type="text" name="title" id="editDocTitleInput" ng-model="studydoc.title"></input></span>

			<i ng-show="studydoc != undefined" ng-click="editdoc()" class="right editbtn far fa-edit"></i>
		</h1>

		<div ng-repeat="tag in studydoc.tags" class="tag">
			<span>{{tag}}</span>
		</div><br><br>

		<div class="studysheet" ng-repeat="studysheet in studydoc.pages | filter:searchFilter as filtered">
			<!-- Resizable annotation box thingy -->
			<!-- <div class="resize-drag">
			</div> -->

			<div ng-show="studysheet.type == 'image'">
				<img class="studysheetimg" ng-src="{{'studysheets/'+studysheet.img}}" alt="">
			</div>
			<div ng-show="studysheet.type == 'text'">
				<textarea name="name" rows="20" cols="140" ng-model="studysheet.text"></textarea>
			</div>
		</div>

		<!-- When a valid page is shown -->
		<div ng-show="studydoc != undefined">
			<div class="addelementbtn" ng-click="appendTextPage(studydoc)">
				Append text section
			</div>
			<div class="addelementbtn" ng-click="appendImagePage(studydoc)">
				Append image section
			</div>
		</div>

	</div>
</section>
